{% extends 'web/base.html' %}
{% load static %}
{% block content %}

    <section id="issues">
        <section class="wrapper">
            {% if issue_instances %}
                <ul>
                    {% for issue in issue_instances %}
                        <li>
                            <div class="top">
                                <div class="img">
                                    <img src="{{ issue.image.url }}" style="width:73px;, height:82px;">
                                </div>
                            </div>
                            <div class="bottom">
                                <h3>{{ issue.title }}</h3>
                                <p>{{ issue.content }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <br class="clear">
            {% else %}
                <p>No data found!</p>
            {% endif %}
        </section>
    </section>
{% endblock %}